@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.App {
  text-align: center;
}

html {
  margin-right: 100px;
  margin-left: 100px;
}

body {
  margin: 0;
  background-color: #1f2023;
}

div {
  color: #FFFFFF;
  font-family: 'Inter';
}

